table {
    width: 400px;
    height: 200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

input,
select {
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
}

input[type=button],
input[type=submit] {
    width: 49%;
}